<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R2DBC Board</title>
    <style>
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 5px 0;
        }
    </style>
    <script type="text/javascript" src="/r2dbcBoard.js" ></script>
</head>
<body>
<h1>R2DBC Board</h1>
<ul id="data-list"></ul>

<p> new data </p>
    <p>제목 : <input type="text" name = "title" id = "title" value = "test title"></p>
    <p>내용 : <input type="text" name = "data" id = "data" value = "test data"> </p>
    <input type="submit" id = "submit">
<p>-------------------------------------------</p>
<a href = "/">back home</a>
</body>
</html>